* {margin:0;padding:0;}

html    
{
background-color:#fff;
height: 100%;
}

body 
{
height:100%;
text-align:justify;
font:14px Arial, tahoma, sans-serif, arial;
color: #404040;
line-height:17px;
}

a:link, a:visited
{
font-weight:bold;
color: #1baa7e;
text-decoration:none;
}

a:hover, a:active
{
color:#6fcb9f;
text-decoration:none;
}

b
{
font-weight:bold;
color: #c6884a;
text-decoration:none;
}


.links
{
    float:right;
}

#top_bg_rep
{

    margin:0px 0px auto 0px;
    padding:0px;
    background-color:#000;
    height: 60px; 
    width: 100%; 

}



#actual_content
{
    width:780px;
    vertical-align:center;
    margin:auto auto auto auto;
    padding-top: 70px;
    float:center;
    min-height:100px;
}



#nav 
{
    width: 500px;
    height:80px;
    margin:0px auto 0px auto;
    padding-top:10px;
    padding-right:auto;
    float:center;
    text-align:center;
}


#nav a:hover
{
    color:#c6884a;
}

#nav a:active
{

    color:#c6884a;
}

#nav a
{
    display: inline-block;
    height: 36px;
    width:149px;
    font: bold 18px tahoma,sans-serif;
    line-height:34px;
    color:#E8E8E8 ;
}

#nav #home
{
    margin:0px 0 0 0px;
    width:149px;
    height: 36px;
    float:left;
}

#nav #resume
{
    margin:0px 0 0 20px;
    width:149px;
    height: 36px;
    float:left;
}

#nav #projects
{
    margin:0px 0 0 20px;
    width:149px;
    height: 36px;
    float:left;
}

#nav #github
{
    margin:0px 0 0 20px;
    width:149px;
    height: 36px;
    float:left;
}

#home
{
    width:150px;
    margin-right:20px;
}



h1
{
    font: 50px Arial, verdana,tahoma;
    color:#004444;
    margin: 0px;
    padding-left:13px;
    letter-spacing: 1px;
}

h2
{font: 22px tahoma, verdana, arial;
color:#1baa7e;
margin: 6px 0 0px 2px;
padding-left:10px;}

h3
{
    font: 18px arial, tahoma, verdana;
    color: #A0B693;
    text-decoration:none;
    margin: 6px 0 0px 0;
    padding-left:14px;
}

.emph
{
    font: 18px arial, tahoma, verdana;
    color: #A0B693;
    text-decoration:none;
    margin: 6px 0 0px 0;
    padding-left:14px;
}

p, ul, ol
{
    margin:0;
padding:0 4px 10px 16px;
}


img
{
   margin: 0px 10px 10px 10px; 
   padding:0px; 
   border:1px solid #000;
}

